:root {
    --color-table-background: rgba(22, 106, 205, 0.9);
    --color-table-border: #002C5F;
    --color-side-bar: #166ACD;
    --color-card-bar: #10509A;
    --color-card: #C4C4C4;
    --color-square-game:#C4C4C4;
    --background: #4C4C4C;
    --color-modal: #C4C4C4;
    --color-border-modal: #166ACD;
    --color-font-box-name: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    position: absolute;
    overflow: hidden;
}

.table-game {
    width: 710px;
    height: 400px;
    background-color: var(--color-table-background);
    border-radius: 40px;
    border: 15px solid var(--color-table-border);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.table-game .square-game {
    height: 85px;
    width: 85px;
    position: absolute;

    justify-content: center;
    align-items: center;
    display: flex;

    background-color: var(--color-square-game);
    border-radius: 20px;
}
.table-game .square-game img {

    border-radius: 15px;
    height: 90%;
    width: 90%;

}

.table-game .cards-center .card-treasure {

    position: absolute;
    width: 108px;
    height: 142px;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-card);

    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;

}


.table-game .cards-center .card-war {

    position: absolute;
    width: 108px;
    height: 142px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-card);

    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    justify-content: center;
    align-items: center;
    display: flex;

}

.table-game .cards-center .card-door {

    justify-content: center;
    align-items: center;
    display: flex;

    position: absolute;
    width: 108px;
    height: 142px;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-card);

    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px

}

.card-door img, .card-treasure img, .card-war img {

    height: 100%;
    width: 100%;
    border-radius: 10px;

} 

.table-game .square-game:nth-child(1) {

    position: absolute;
    left: -1%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.table-game .square-game:nth-child(2) {

    position: absolute;
    left: 25%;
    top: -2%;
    transform: translate(-50%, -50%);

}
.table-game .square-game:nth-child(3) {

    position: absolute;
    left: 75%;
    top: -2%;
    transform: translate(-50%, -50%);

}
.table-game .square-game:nth-child(4) {

    position: absolute;
    left: 101%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.table-game .square-game:nth-child(5) {

    position: absolute;
    left: 75%;
    top: 102%;
    transform: translate(-50%, -50%);

}
.table-game .square-game:nth-child(6) {

    position: absolute;
    left: 25%;
    top: 102%;
    transform: translate(-50%, -50%);

}

.table-game .square-game p {
    height: 25px;
    width: 100%;
    background-color: var(--color-modal);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    border-radius: 10px;
    box-shadow:inset 0 0 6px #166ACD;
    color: var(--color-font-box-name);
}



.card-bar {

    width: 80%;
    height: 22%;
    background-color: var(--color-card-bar);

    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);

    justify-content: center;
    display: flex;

}

.img-background {

    height: 78%;
    width: 80%;

    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.img-background img{
    height: 100%;
    width: 100%;
}
.side-bar-rigth {

    height: 100vh;
    width: 10%;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: var(--color-side-bar);

}
.side-bar-left {

    height: 100vh;
    width: 10%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: var(--color-side-bar);

}

.card-of-hand {
    width: 108px;
    height: 142px;

    background: var(--color-card);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 15px;
    margin-left: -20px;
    transition-duration: 0.5s; 

    justify-content: center;
    align-items: center;
    display: flex;


  
    
}

.card-of-hand:hover {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 5px;
    margin-right: 20px;
    
}

.card-of-hand img {

    height: 100%;
    width: 100%;
    border-radius: 5px;
    
}

/* #modal-card{
    width: 710px;
    height: 500px;
    background-color: var(--color-modal);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    border: solid 5px var(--color-border-modal);

    justify-content: space-around;
    align-items: center;
    display: flex;
    } */

    /* #modal-card img {
        height: 350px;
        width: 250px;
        border-radius: 15px;
    }
    #model-card #modal-form {
        width: 710px;
        height: 500px;
        background-color: red;
    } */